body {
    background-color: #021C1E;
}

.contenedor {
    background: #0c4457;
    margin-top: 40px;
    padding: 40px 20px;
    text-align: center;
    width: 500px;
    
    min-height: 500px;
    border: 5px solid #e64141;
    margin-left: auto;
    margin-right: auto;

}
h1{
    color: beige;
}


input {
    padding-left: 10px;
    width: 80%;
    font-size: 25px;
    font-family: 'Gentium Plus', serif;
    border-radius: 5px;
    outline: none;
    
}

.tarea-asignada {

    font-size: 25px;
    font-family: 'Gentium Plus', serif;
    border-radius: 5px;

}

li {
    
    width: 90%;
    justify-content:space-between;
    background-color: #b0ccff;
    border-radius: 5px;
    display: flex;
    margin: 10px 20px;
    padding-left: 10px;
    box-shadow: 5px 7px 8px 0px rgba(54, 219, 82, 0.75);
}

.btns{
    border-radius: 5px;
}

.btns:hover{
    cursor: pointer;
    background-color: #f0310f;
}
.mensaje{
    color: #e64141;
}
p{
    font-weight: bold;
    color: #e64141;
}
